.link {
  font-size: 16px;
  line-height: 136.5%;
  color: #FFFFFF;
  transition: all 0.3s ease 0s;

  &:hover {
    text-decoration: underline;
  }
}
.active {
  font-weight: 700;
}

@media(max-width: 768px) {
  .link {
    font-size: 14px;
  }
}
@media(max-width: 532px) {
  .link {
    font-size: 12px;
  }
}
@media(max-width: 425px) {
  .link {
    font-size: 16px;
  }
}