@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  border: none;
}

body {
  height: 100%;
  font-style: normal;
  font-family: 'Inter';
  font-weight: 400;
}
.wrapper {
  min-height: 100%;
  max-width: 1400px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
._container {
  max-width: 1190px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}
